BasedOnStyle: LLVM

IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 100

SpacesInAngles: true
SpacesInCStyleCastParentheses: true
SpacesInConditionalStatement: true
SpacesInContainerLiterals: true
SpacesInParentheses: true
SpacesInSquareBrackets: true

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: true

AlwaysBreakTemplateDeclarations: Yes
PackConstructorInitializers: Never 
BreakBeforeBraces: Stroustrup